<?xml version="1.0"?>

<model>
  <name>Single tower and solar panel problem</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Filip Novak</name>
    <email>novakfi8@fel.cvut.cz</email>
  </author>

  <description>
    Single tower and solar panel problem for IEEE 2022 MRS Summer School.
  </description>
</model>
