<?xml version="1.0"?>

<model>
  <name>Four towers problem</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Pavel Petracek</name>
    <email>petrapa6@fel.cvut.cz</email>
  </author>

  <description>
    Four towers problem for IEEE 2022 MRS Summer School.
  </description>
</model>
