<?xml version="1.0"?>

<model>
  <name>Four towers problem</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Parakh M. Gupta</name>
    <email>guptapar@fel.cvut.cz</email>
  </author>
  
  <author>
    <name>Filip Novak</name>
    <email>novakfi8@fel.cvut.cz</email>
  </author>

  <description>
    Four towers and solar panels problem for IEEE 2023 MRS Summer School.
  </description>
</model>
